@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

* {
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: black;
}

:root {
  --light-blue: #3b94f8;
  --light-orange: #e5b029;
  --special-font: "Montserrat", sans-serif;
  --common-font: "Open Sans", sans-serif;

  --sp-1: 0.25rem;
  --sp-2: 0.5rem;
  --sp-3: 1rem;
  /* --sp-4: 1.5rem; */
  --sp-5: 2rem;
  --sp-6: 3rem;

  --rounded-1: 8px;
  --rounded-2: 16px;
}

/*
====================
    Global Styles
====================
*/

body {
  font-family: var(--special-font);
  font-size: 100%;
  /* padding: 4vw 0; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--special-font);
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.13rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.9rem;
}

.main-header *,
.hero * {
  color: white;
}

img {
  display: block;
}

.section {
  margin: 0 7vw;
  padding: var(--sp-6) 0;
}

.section-title, .section-subtitle {
  text-align: center;
  margin-bottom: 1rem;
}

/*
==============
    Layout
==============
*/

.contact-us {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 0.9rem;
  background-color: var(--light-orange);
  padding: 0.5rem 7vw;
}

.main-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: var(--light-blue);
  position: relative;
  padding: 1.5rem 7vw;
}

.brand-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.menu {
  display: none;
}

.logo-name,
.menu-icon {
  z-index: 1;
}

.menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5rem;
  height: auto;
}
.line {
  margin: 0.4em 0;
}
.menu-icon::before,
.menu-icon .line,
.menu-icon::after {
  display: block;
  content: "";
  background-color: black;
  height: 2px;
}
.menu-icon::after {
  width: 50%;
}

.toggler {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.4em;
  height: 1.4em;
  z-index: 5;
  opacity: 0;
}

.toggler:checked ~ .menu {
  display: inherit;
  position: absolute;
  background-color: pink;
  width: 100%;
}
.toggler:checked ~ .menu > ul {
  margin: var(--sp-5) auto;
}
.toggler:checked ~ .menu .menu-item {
  line-height: 2;
  text-align: center;
}

.hero {
  background-color: var(--light-blue);
  border-radius: 0 0 900px 0;
  padding: 2rem 7vw;
}

.hero-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1.5rem;
  position: relative;
}
.hero-content .wrapper {
  width: 90%;
}
.hero-image {
  margin-left: 10%;
  width: 80%;
}

.tagline {
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.section-subtitle {
  font-size: .9em;
  font-weight: normal;
}
.section-title {
  font-size: 1.5rem;
}

.row-container {
  margin-top: 3rem;
}

/* 
==================
    Components
==================
 */
 .row-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
 }

.social-links {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}
.social-links img {
  height: 24px;
}

.btn {
  font-size: 1rem;
  font-weight: normal;
  background-color: var(--light-orange);
  border-radius: 100px;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.card {
  width: 270px;
  border-radius: var(--sp-2);
  padding: 1rem;
}
.card img {
  width: 100%;
  height: 10rem;
  margin: auto;
}
.card-title, .card-description {
  text-align: center;
  margin-top: 1rem;
}
.card-title {
  color: var(--light-blue);
}
.card-description {
  color: darkslategray;
  font-family: var(--common-font);
  font-weight: normal;
}

/* 
==================
    Animations
==================
 */

 .menu-item a:hover {
   border-bottom: 2px solid var(--light-orange);
 }

 .card { transition: box-shadow .4s ease;}
.card:hover { box-shadow: 0 2px 2px var(--light-orange);}

.btn {
  transition: all .5s ease;
}
.btn:hover {
  transform: translate(0, -2px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

/* 
===============
    Queries
===============
 */

@media screen and (min-width: 720px /*480px*/) {
  .menu-icon,
  .toggler {
    display: none;
  }
  .menu {
    display: initial;
  }
  .menu > ul {
    display: flex;
    flex-flow: row wrap;
    column-gap: var(--sp-5);
  }

  .hero {
    border-radius: 0 0 80% 0;
    padding: 3rem 7vw 0;
  }

  .hero-content .wrapper,
  .hero-image {
    width: 47%;
    margin-left: 0;
  }
}
